body {
  background-image: url("/backgroundconfetti.jpg") ;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    background-color: white;
} 

.container {
  background-color: rgba(7, 50, 70, 0.3);
  border: 5px solid black;
  color: white;
  font-family: "Gill Sans";
  padding: 25px;
  text-align: center;
  margin-top: 30px;
  margin: 20px;
}

.input-button {
    border: 0;
    padding: 10px;
    font-family: 'Arial';
    background-color: olivedrab;
    cursor: pointer;
}

#user-creds {
  text-align: left;
  margin: 0 auto;
}

div.user-creds {
  text-align: center;
  background-color: rgb(41, 40, 40, 0.3);
  padding: 10px;
}

/* NAVIGATION STYLES */

/* The navigation bar */
.navbar {
  overflow: hidden;
  background-color: rgb(41, 40, 40, 0.8);
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}

/* Links inside the navbar */
.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  font-family: "Gill Sans";
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change background on mouse-over */
.navbar a:hover {
  background: #ddd;
  color: black;
}