body {
  background-image: url("/background.jpg") ;
}


.container {
  background-color: grey;
  border: 5px solid black;
  color: white;
  font-family: "Gill Sans";
  margin: 20px;
  padding: 25px;
  text-align: center;
}

button {
  border: 0;
  padding: 10px;
  font-family: 'Arial';
  background-color: rgb(237, 247, 104);
  cursor: pointer;
}

#user-creds {
  text-align: left;
  margin: 0 auto;
}

div.user-creds {
  text-align: center;
  background-color: rgb(41, 40, 40);
  padding: 10px;
}