.container {
  background-color: grey;
  border: 5px solid black;
  color: white;
  font-family: "Gill Sans";
  margin: 20px;
  padding: 25px;
  text-align: center;
}

#signup {
  text-align: center;
  margin: 0 auto;
}

div.signup {
  text-align: center;
  background-color: black;
}