<h3 style="color:red;"> Oops! Try Again! </h3>
<h4 style="color:red;"> Please Fill Out The Entire Form! All Sections Must Be Filled Out.</h4>
<h4 style="color:red;"> When signing up: Username must be not already exist. It must be 4 to 16 characters. Please enter a valid username.</h4>
<h4 style="color:red;"> When logging in: Please make sure your username and password are correct. </h4>
<h5> <a href="/signup">Sign Up</a> or <a href="/login">Log In</a> to try again. </h5>
