<!DOCTYPE html>
<html>
	<body>

		<h3 style="color:red;">
		<% if flash[:error] %>
		<%= flash[:error] %>
		<% end %></h3>

		<h3>LOG IN:</h3>

		<div class="user-creds">
			<form action="/login" method="POST">
				<table id="user-creds">
					<tr>
						<td><h3>Username:</h3></td>
						<td><input type="text" name="username"><br></td>
					</tr>
					<tr>
						<td><h3>Password:</h3></td>
						<td><input type="password" name="password"></td>
					</tr>
				</table>
				<br><button type="submit"> Submit </button>
			</form>
		</div>
	</body>
</html>