
<form action="/logout" method="post">
<h4>Are You Sure to Want to Log Out?</h4><br>
<input type="submit" value= "Logout" name="logout" ><br>


<h5><a href="/index">No, Continue Browsing</a> </h5>

</form>