
<h3 style="color:red;">
<% if flash[:error] %>
<%= flash[:error] %>
<% end %>
</h3>

<h2> Sign Up Below! </h2>

<div class="user-creds">
  <form action="/signup" method="post">
    <table id="user-creds">
        <tr>
          <td><h3>Username:</h3></td>
          <td><input type="text" name="username"></td>
        </tr>
        <tr>
          <td><h3>Email:</h3></td>
          <td><input type="text" name="email"></td>
        </tr>
        <tr>
          <td><h3>Password:</h3></td>
          <td><input type="text" name="password"></td>
        </tr>
      </table>
      <button type="submit">Sign Up</button>
  </form>
</div>