<h4> Welcome
<% if @user %>   
    <%= @user.username %>
    <h4>Click here to view your: <a href="/signup">Entries</a></h4>
    <br>
    <form action="/logout" method="post">
        <button class="input-button" type="submit">Log Out</button>
    </form>
<% else %>    
    <h5> Please <a href="/signup">Sign Up</a> or <a href="/login">Log In</a> to continue. </h5>
<% end %>
