<!doctype html>
<html>
  <head>
    <title>LogBook</title>
    <link rel="stylesheet" href="/stylesheets/main.css" type="text/css">
  </head>
  <body>
    <div class="navbar">
        <h4><a href="/users/edit_user">Edit Your Credentials</a></h4>
        <h4><a href="/entries/entries">View Your Entries</a></h4>
        <h4><a href="/entries/new">Create New Entry</a></h4>
    </div>
    <div class="container">
        <h2>Welcome To <u>The How&#8217;d It Go?</u></h2>
        <h3>A Logbook For Job Interviews, Auditions, And More!</h3>

        <%=yield%>
    </div>
  </body>
</html>
