<!doctype html>
<html>
  <head>
    <title>LogBook</title>
    <link rel="stylesheet" href="/stylesheets/main.css" type="text/css">
  </head>
  <body>
    <nav class="crumbs">
        <ol>
            <li class="crumb">
                <h4><a href="users/edit_user">Edit Your Login Credentials</a></h4>
            </li>
            <li class="crumb">
                <h4><a href="entries/new">Create New Entry</a></h4>
            </li>
        </ol>
    </nav>
    <div class="container">
        <h2>Welcome To <u>The How&#8217;d It Go?</u></h2>
        <h3>A Logbook For Job Interviews, Auditions, And More!</h3>

        <%=yield%>
    </div>
  </body>
</html>
