<!doctype html>
<html>
  <head>
    <title>LogBook/title>
  </head>
  <body>

    <div class="container">
      <h1>Welcome to The How&#8217;d It Go?</h1>
      #Are you a performine artists who...
      #Are you on a job search and...
      #Are you small business owner attending networking events?
      <h3>A Logbook For Job Interviews, Auditions, Or Networking Experiences You Want To Keep Track Of!</h3>
 
<%=yield%>

        </div>
  </body>
</html>
