<!doctype html>
<html>
  <head>
    <title>LogBook</title>
    <link rel="stylesheet" href="./public/stylesheets/main.css" type="text/css">
  </head>
  <body>

    <div class="container">
    <h2 style="color:blue;">Welcome To <u>The How&#8217;d It Go?</u></h2>
    <h3>A Logbook For Job Interviews, Auditions, And More!</h3>
 
<%=yield%>

        </div>
  </body>
</html>
